.hangman {
    position: relative;
}

.rope {
    height: 50px;
    width: 10px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
}

.top_bar {
    height: 10px;
    width: 200px;
    background-color: black;
    margin-left: 120px;
}

.enter_bar {
    margin-left: 120px;
    width: 10px;
    height: 400px;
    background-color: black;
}

.bottom_bar {
    width: 250px;
    height: 10px;
    background-color: black;
}

.head {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid black;
    position: absolute;
    top: 50px;
    right: -20px;
}

.body {
    background-color: black;
    position: absolute;
    width: 10px;
    height: 100px;
    right: 0;
    top: 100px;
}

.rightArm {
    background-color: black;
    position: absolute;
    width: 100px;
    height: 10px;
    right: -100px;
    top: 130px;
    rotate: -30deg;
    transform-origin: left bottom;
}

.leftArm {
    background-color: black;
    position: absolute;
    width: 100px;
    height: 10px;
    right: 0px;
    top: 135px;
    rotate: 30deg;
    transform-origin: right bottom;
}

.rightLeg {
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: black;
    top: 190px;
    right: -90px;
    rotate: 60deg;
    transform-origin: left bottom;
}

.leftLeg {
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: black;
    top: 190px;
    right: 0px;
    rotate: -60deg;
    transform-origin: right bottom;
}