/* Global CSS styles + Reset*/
:root {
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

.text-center {
  text-align: center !important;
}

.hidden {
  display: none !important;
}

/* Single line truncate */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Multi line truncate */
.multi-truncate {
  line-height: 2rem;
  max-height: 4rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

/* ---- Styles ---- */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin: 0 auto;
  max-width: 800px;
}
